@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	background-color: rgb(255, 255, 255);
	opacity: 1;
	overflow: hidden;
}

.btn pre {
	padding: 7px 15px;
	border-radius: 50px;
	color: rgb(0, 0, 0);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	transition: color 0.15s;
}

.btn pre:hover {
	color: rgb(0, 61, 131);
}

.btn pre:active {
	opacity: 0.8;
}

.login,
.signup {
	font-family: 'Courier New', Courier, monospace;
	border: none;
	outline: none;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	transition: color 0.15s,
				font-size 0.15s,
				font-weight 0.15s;
}

.container {
	background-color: rgb(255, 255, 255);
}

.pop-effect {
	padding: 0px 10px 20px 10px;
	width: 500px;
	background-color: rgb(255, 255, 255);
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	transition: box-shadow 0.5s;
}

.pop-effect:hover{
	box-shadow: 8px 8px 20px rgb(128, 128, 128);
}

.btn {
	color: rgb(255, 255, 255);
	height: 35px;
	width: 160px;
	margin: 20px auto;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
	border-radius: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: height 0.15s,
				width 0.15s,
				box-shadow 0.15s,
				border-radius 0.15s;
}

.slider {
	height: 35px;
	width: 80px;
	border-radius: 50px;
	background: rgb(141, 146, 150);
	position: absolute;
	top: 20px;
	left: 169px;
	transition: all 0.5s ease-in-out;
}


.moveslider {
	left: 250px;
}

.form-section {
	width: 1000px;
	display: flex;
	position: relative;
	transition: all 0.5s ease-in-out;
	left: 0px;
}

.form-section .login-box {
	height: 300px;
}

.form-section-move {
	left: -500px;
}

.login-box,
.signup-box {
	height: 100%;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 40px;
}

.login-box {
	gap: 30px;
}

.signup-box {
	gap: 30px;
}

.ele {
	height: 35px;
	width: 280px;
	outline: none;
	border: none;
	color: rgb(77, 77, 77);
	background-color: rgb(245, 245, 245);
	border-radius: 50px;
	padding: 0px 30px;
	font-size: 16px;
	transition: height 0.5s,
				width 0.5s,
				background-color 0.5s,
				font-size 0.5s;
}

.pop-effect:hover .ele{
	height: 40px;
	width: 320px;
	background-color: rgb(240, 240, 240);
	font-size: 18px;
}

.pop-effect:hover .ele:hover {
	height: 45px;
	width: 350px;
}

.submit-btn {
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-image: linear-gradient(to right,
			rgb(0, 0, 0),
			rgb(36, 136, 114));
	padding: 6px 11px;
	border-radius: 50px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: box-shadow 0.15s, 
				padding 0.5s,
				font-size 0.5s;
}

.pop-effect:hover .submit-btn {
	font-size: 17px;
	padding: 7px 15px;
}

.pop-effect:hover .submit-btn:hover {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	font-size: 18px;
	padding: 8px 35px;
}

.submit-btn:active {
	opacity: 0.8;
}

.signature{
	font-size: 10px;
	font-weight: bold;
	display: inline;
	text-align: center;
	cursor: pointer;
	color: rgb(0, 0, 0);
}

.signature a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition:	color 0.2s;
}

.signature a:hover{
	color: rgb(0, 99, 102);
}
